%div.well
  = simple_form_for @post, defaults: { input_html: { class: 'form-control' } }  do |f|
    - if @post.errors.any?
      #error_explanation
        %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
        %ul
          - @post.errors.full_messages.each do |msg|
            %li= msg

    .field.form-group
      = f.input :title, required:true
    .field.form-group
      = f.input :body, :value => "Default value", :id => "sometext",:input_html => { :rows => 10 }, required: true
    .field.form-group
      = f.input :start, :input_html => { class:"datepicker form-control" }, placeholder:"select start date", :as => :string, :dateFormat => "mm-dd-yy", required:true
    .field.form-group
      = f.input :end, :input_html => { class:"datepicker form-control", :dateformat => "mm-dd-yy" }, placeholder:"select end date", :as => :string, required: true
    .actions.form-group
      = f.button :submit, 'save', class:"btn btn-primary btn-block"

      :javascript
          $('.datepicker').datepicker({ 
            dateFormat: "yy-mm-dd" }
          );

          $('#post_start').attr("readOnly", true);
          $('#post_end').attr("readOnly", true);