= link_to 'New Post', new_post_path, class:"pull-right btn btn-primary col-lg-2"
%h1 Listing posts
%table.table.table-striped.table-bordered
  %tr.danger
    %th Title
    %th Body
    %th Start date
    %th End date
    %th
    %th
    %th

  - @posts.each do |post|
    %tr
      %td= post.title
      %td= post.body
      %td= post.start
      %td= post.end
      %td= link_to 'Show', post
      %td= link_to 'Edit', edit_post_path(post)
      %td= link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

