<div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Project name", root_path, class:"navbar-brand" %>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'Posts', posts_path %></li>
            <li><%= link_to 'Events', events_path %></li>
            <li><%= link_to 'Full Calendar', full_calendar_path %></li>
            <li><%= link_to 'Calendar Helper', calendar_helper_path %></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
</div>