<!DOCTYPE html>
<html>
<head>
  <title>Calendar</title>
  <!--[if lt IE 8]>
    <%= stylesheet_link_tag "font-awesome-ie7.min.css", media: "all" %>
  <![endif]-->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "application-print", :media => "print" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/nav" %>
  <div class="container">
    <div style="min-height:100px;"></div>
    <%= yield %>
  </div>
</body>
</html>
